body {
  padding-bottom: 50px;
  overflow-x: hidden;
}

#logo {
  padding: 0;
}

.navbar-brand img {
  width: 65px;
}

.row-title {
  margin-bottom: 50px;
}

.row-explanation {
  font-size: 1em;
  text-align: justify;
}

.feature-block {
  height: 210px;
  padding-bottom: 15px;
}

.btn {
  margin-top: 20px;
}

.social-network {
  margin-top: 10px;
}

.social-network img {
  width: 25px;
}
